* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
nav {
  display: flex;
  border-bottom: 2px solid green;
  border-top: 2px solid green;
}

.left {
  width: 20%;
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  font-size: 20px;
  padding: 10px;
}
.left:hover {
  color: blueviolet;
}
.mid {
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
}
.mid > a {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: none;
}
.mid > a:hover {
  color: blueviolet;
  border-bottom: 2px solid blueviolet;
}

.right {
  width: 20%;

  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  font-size: 20px;
}
.right > img {
  width: 30px;
  height: 30px;
}
.right > img {
  color: blueviolet;
}
